<p id="notice"><%= notice %></p>

<p>
  <strong>Model:</strong>
  <%= @claim.model_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @claim.description %>
</p>

<%= link_to 'Edit', edit_claim_path(@claim) %> |
<%= link_to 'Back', claims_path %>
