<%= form_for(@model_input) do |f| %>
  <% if @model_input.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@model_input.errors.count, "error") %> prohibited this model_input from being saved:</h2>

      <ul>
      <% @model_input.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :model_id %><br>
    <%= f.number_field :model_id %>
  </div>
  <div class="field">
    <%= f.label :input_id %><br>
    <%= f.number_field :input_id %>
  </div>
  <div class="field">
    <%= f.label :source_id %><br>
    <%= f.number_field :source_id %>
  </div>
  <div class="field">
    <%= f.label :units %><br>
    <%= f.text_field :units %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :actType %><br>
    <%= f.text_field :actType %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
