<footer class="footer">
    <div class  = "container">
        <ul class = "list-inline text-center">
            <%= link_to 'Home', home_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
            <%= link_to 'About Us', about_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
            <%= link_to 'Contact Us', contact_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
            <%= link_to 'Privacy Policy', privacy_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
            <%= link_to 'Terms of Service', terms_path %>
            <br /><br />
         </ul>
    </div>
</footer>