<%= form_for(@action_idea_inactive) do |f| %>
  <% if @action_idea_inactive.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@action_idea_inactive.errors.count, "error") %> prohibited this action_idea_inactive from being saved:</h2>

      <ul>
      <% @action_idea_inactive.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :action_idea_id %><br>
    <%= f.text_field :action_idea_id %>
  </div>
  <div class="field">
    <%= f.label :integer %><br>
    <%= f.text_field :integer %>
  </div>
  <div class="field">
    <%= f.label :reason %><br>
    <%= f.text_field :reason %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :date_created %><br>
    <%= f.date_select :date_created %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
