<section id="model-form">


  <%= form_for(@model) do |f| %>
  <% if @model.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@model.errors.count, "error") %> prohibited this model from being saved:</h2>
    <ul>
      <% @model.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>



  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-wrap">

          <div class="form-group field">
            <%#= f.label :action_idea_id %><br>
            <h1> Replacing a Shower Head <h1>
            </div>

            <div class="form-group field ">
              <%= f.label :category %><br>
              <%= f.select :category, ["Act", "Behavioral Change", "Choice"]%> 
            </div>
            <div class="form-group field ">
              <%= f.label :description %><br>
              <%= f.text_area :description %>
            </div>
            <div class="form-group field">
              <%= f.label :anchor %><br>
              <%= f.text_field :anchor %>
            </div>
            <div class="form-group field">
              <%= f.label :equation %><br>
              <%= f.text_field :equation %>
            </div>
            <div class="form-group field">
              <%= f.label :assumptions %><br>
              <%= f.text_field :assumptions %>
            </div>
            <div class="btn btn-custom btn-lg btn-block actions">
              <%= f.submit %>
            </div>


          </div>
        </div> <!-- /.col-xs-12 -->
      </div> <!-- /.row -->
    </div> <!-- /.container -->



  </section>

  <% end %>


