<%= form_for(@model) do |f| %>
<% if @model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@model.errors.count, "error") %> prohibited this model from being saved:</h2>

      <ul>
      <% @model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<section id="model-form">
  <div class = "container">
    <div class = "row">
      <div class = "col-xs-8">
        <div class = "form-wrap">
          <div class="field form-group">
            <h1> Switching to a Low-Flow Shower Head <h1>
          </div>
         <!-- <div class="field">
            <%#= f.label :date_created %><br>
            <%#= f.date_select :date_created %>
          </div> -->
          <div class="field form-group">
            <%= f.label :category %><br>
            <%= f.select :category, ["Act", "Behavioral Change", "Choice"], class: "form-control" %>
         </div>
          <div class="field form-group">
            <%= f.label :description %><br>
            <%= f.text_area :description, class: "form-control"%>
          </div>
          <div class="field form-group">
            <%= f.label :anchor %><br>
            <%= f.text_field :anchor, class: "form-control"%>
          </div>
          <div class="field form-group">
            <%= f.label :equation %><br>
           <%= f.text_field :equation, class: "form-control"%>
          </div>
          <div class="field form-group">
            <%= f.label :assumptions %><br>
            <%= f.text_area :assumptions, class: "form-control"%>
          </div>
          <div class="actions">
            <%= f.submit "Create Model", class: "btn btn-custom btn-lg btn-block" %>
          </div>
        </div>
      </div>

      <div class = "col-xs-4">
        <div class = "form-wrap">
          <div class="field form-group">
            <h1> Example <h1>
          </div>
          <div class="field form-group ">
            <%= f.label :category %><br>
            <%= f.select :category, ["Act", "Behavioral Change", "Choice"], class: "form-control"%>
          </div>
          <div class="field form-group">
            <%= f.label :description %><br>
            <%= f.text_area :description,class: "form-control", placeholder: 'Getting a low-flow showerhead to reduce water consumption and energy to heat up water.' %>
          </div>
          <div class="field form-group">
            <%= f.label :anchor %><br>
            <%= f.text_field :anchor, class: "form-control", placeholder: 'Body Cleaning'%>
          </div>
          <div class="field form-group">
            <%= f.label :equation %><br>
            <%= f.text_field :equation, class: "form-control", placeholder: 'HP = (2.5 * 2)*LCIA of 1 gallon of water'%>
          </div>
          <div class="field form-group">
            <%= f.label :assumptions %><br>
            <%= f.text_area :assumptions, class: "form-control", placeholder: 'No user behavior changes based on lower water flow'%>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% end %>
<!--
<section id="model-form">
    <div class="container">
      <div class="row">
          <div class="col-xs-12">
              <div class="form-wrap">
                <h1>Creating A Model</h1>
                    <form role="form" action="javascript:;" method="post" id="model-form" autocomplete="off">
                      <label for="model-name" class="sr-only">blah blah</label>

                        <div class="form-group">
                            <input type="text" name="model-name" id="model-name" class="form-control" size="20" placeholder="My Handprinting Model">
                            <select name="Type">
                                <option value="act">Act</option>
                                <option value="behavioral-change">Behavioral Change</option>
                                <option value="choice">Choice</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="description" class="sr-only">Description</label>
                            <input type="textarea" rows="4" cols="30" name="description" id="description" class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="anchor" class="sr-only">Anchor</label>
                            <input type="text" name="anchor" id="anchor" class="form-control" placeholder="">
                            <p> for </p>
                            <input type="number" name="anchor-number" id="anchor-number" class="form-control">
                            <input type="text" name="anchor-unit" id="anchor-unit" class="form-control">
                        </div>
                         <div class="form-group">
                            <label for="claim" class="sr-only">Claim</label>
                            <input type="text" name="claim" id="claim" class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="source" class="sr-only">Source</label>
                            <input type="text" name="source" id="source" class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="input" class="sr-only">Input</label>
                            <input type="text" name="input" id="input" class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="equation" class="sr-only">Model Equation</label>
                            <input type="text" name="equation" id="equation" class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="assumption" class="sr-only">Assumption</label>
                            <input type="text" name="assumption" id="assumption" class="form-control" placeholder="">
                        </div>

                        <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Log in">
                    </form>

              </div>
        </div> --><!-- /.col-xs-6 -->
<!--
            <div class="col-xs-6">
              <div class="form-wrap">
                <h1>Creating A Model</h1>
                    <form role="form" action="javascript:;" method="post" id="model-form" autocomplete="off">
                        <div class="form-group">
                            <label for="model-name" class="sr-only">Model Name</label>
                            <input type="text" name="model-name" id="model-name" class="form-control" size="20" placeholder="My Handprinting Model">
                            <select name="Type">
                                <option value="act">Act</option>
                                <option value="behavioral-change">Behavioral Change</option>
                                <option value="choice">Choice</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="description" class="sr-only">Description</label>
                            <input type="textarea" rows="4" cols="30" name="description" id="description" class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="anchor" class="sr-only">Anchor</label>
                            <input type="text" name="anchor" id="anchor" class="form-control" placeholder="">
                            <p> for </p>

                            <input type="number" name="anchor-number" id="anchor-number" class="form-control">
                            <input type="text" name="anchor-unit" id="anchor-unit" class="form-control">
                        </div>
                         <div class="form-group">
                            <label for="claim" class="sr-only">Claim</label>
                            <input type="text" name="claim" id="claim" class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="source" class="sr-only">Source</label>
                            <input type="text" name="source" id="source" class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="input" class="sr-only">Input</label>
                            <input type="text" name="input" id="input" class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="equation" class="sr-only">Model Equation</label>
                            <input type="text" name="equation" id="equation" class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="assumption" class="sr-only">Assumption</label>
                            <input type="text" name="assumption" id="assumption" class="form-control" placeholder="">
                        </div>

                        <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Log in">
                    </form>

              </div>
        </div>--> <!-- /.col-xs-6 -->
      <!--</div> 
      </div> --><!-- /.row -->


    <!--</div> --> <!-- /.container -->
<!--</section> -->
<!--
<div class="modal fade forget-modal" tabindex="-1" role="dialog" aria-labelledby="myForgetModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Recovery password</h4>
      </div>
      <div class="modal-body">
        <p>Type your email account</p>
        <input type="email" name="recovery-email" id="recovery-email" class="form-control" autocomplete="off">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-custom">Recovery</button>
      </div>
    </div> <!-- /.modal-content -->
 <!-- </div> --> <!-- /.modal-dialog -->
<!--</div> --><!-- /.modal -->

<!-- 
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>Page © - 2014</p>
                <p>Powered by <strong><a href="http://www.facebook.com/tavo.qiqe.lucero" target="_blank">TavoQiqe</a></strong></p>
            </div>
        </div>
    </div>
</footer>
-->

