<%= form_for(@model) do |f| %>
  <% if @model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@model.errors.count, "error") %> prohibited this model from being saved:</h2>

      <ul>
      <% @model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<section id="model-form">
  <div class = "container">
    <div class = "row">
      <div class = "col-xs-8">
        <div class = "form-wrap">
          <div class="field form-group">
            <h1> Switching to a Low-Flow Shower Head <h1>
          </div>
         <!-- <div class="field">
            <%#= f.label :date_created %><br>
            <%#= f.date_select :date_created %>
          </div> -->
          <div class="field form-group">
            <%= f.label :category %><br>
            <%= f.select :category, ["Act", "Behavioral Change", "Choice"], class: "form-control" %>
         </div>
          <div class="field form-group">
            <%= f.label :description %><br>
            <%= f.text_area :description, class: "form-control"%>
          </div>
          <div class="field form-group">
            <%= f.label :anchor %><br>
            <%= f.text_field :anchor, class: "form-control"%>
          </div>

<!-- Claim, Source and Inputs THIS PART DOESN"T WORK RIGHT YET-->
          <div class="field form-group">
            <%= f.label "Claim" %><br>
            <%= f.text_field :anchor, class: "form-control"%>
          </div>
          <div class="field form-group">
            <%= f.label "Source" %><br>
            <%= f.text_field :anchor, class: "form-control"%>
          </div>
          <div class="field form-group">
            <%= f.label "Inputs" %><br>
            <div class = "form-inline">
              <%= f.text_field :anchor, class: "form-control", placeholder: "Amount"%>
              <%= f.text_field :anchor, class: "form-control", placeholder: "Units"%>
              <%= f.text_field :anchor, class: "form-control", placeholder: "Object Type"%>
              <%= f.select :anchor,["Pre-Act", "Post-Act"], class: "form-control"%>
            </div>
          </div>
<!-- Properly Working Part -->
          <div class="field form-group">
            <%= f.label :equation %><br>
           <%= f.text_field :equation, class: "form-control"%>
          </div>
          <div class="field form-group">
            <%= f.label :assumptions %><br>
            <%= f.text_area :assumptions, class: "form-control"%>
          </div>
          <div class="actions">
            <%= f.submit "Create Model", class: "btn btn-custom btn-lg btn-block" %>
          </div>
        </div>
      </div>

      <div class = "col-xs-4">
        <div class = "form-wrap">
          <div class="field form-group">
            <h1> Example <h1>
          </div>
          <div class="field form-group ">
            <%= f.label :category %><br>
            <%= f.select :category, ["Act", "Behavioral Change", "Choice"], class: "form-control"%>
          </div>
          <div class="field form-group">
            <%= f.label :description %><br>
            <%= f.text_area :description,class: "form-control", placeholder: 'Getting a low-flow showerhead to reduce water consumption and energy to heat up water.' %>
          </div>
          <div class="field form-group">
            <%= f.label :anchor %><br>
            <%= f.text_field :anchor, class: "form-control", placeholder: 'Body Cleaning'%>
          </div>
<!-- Claim, Source and Inputs THIS PART DOESN"T WORK RIGHT YET-->
          <div class="field form-group">
            <%= f.label "Claim" %><br>
            <%= f.text_field :anchor, class: "form-control", placeholder: "X brand showerhead uses less water than regular shower head"%>
          </div>
          <div class="field form-group">
            <%= f.label "Source" %><br>
            <%= f.text_field :anchor, class: "form-control", placeholder: "www.hometips.com/showerheadguide"%>
          </div>
          <div class="field form-group">
            <%= f.label "Inputs" %><br>
            <div class = "form-inline">
              <%= f.text_field :anchor, class: "form-control", placeholder: "2.5"%>
              <%= f.text_field :anchor, class: "form-control", placeholder: "Gallons"%>
              <%= f.text_field :anchor, class: "form-control", placeholder: "water"%>
              <%= f.select :anchor,["Pre-Act", "Post-Act"], class: "form-control"%>
            </div>
          </div>
<!-- Properly Working Part -->
          <div class="field form-group">
            <%= f.label :equation %><br>
            <%= f.text_field :equation, class: "form-control", placeholder: 'HP = (2.5 * 2)*LCIA of 1 gallon of water'%>
          </div>
          <div class="field form-group">
            <%= f.label :assumptions %><br>
            <%= f.text_area :assumptions, class: "form-control", placeholder: 'No user behavior changes based on lower water flow'%>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% end %>
